[[source]]
name = "Brain Brew"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.1"
twine = "*"

[packages]
"ruamel.yaml" = "==0.16.10"
yamale = "==3.0.4"

[requires]
python_version = "3.7"
