[[source]]
name = "Brain Brew"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.1"
twine = "*"

[packages]
"ruamel.yaml" = "==0.16.10"
yamale = "==3.0.4"

[requires]
python_version = "3.7"

[scripts]
check_yamale_recipes = "python scripts/yamale_build.py && git diff --quiet -- || (echo \"::error file=yamale,line=0,col=0::You need to run `python scripts/yamale_build.py`\" && exit 1)"
unit_tests = "py.test"
